language: java

jdk:
  - oraclejdk8

install: true

script:
  - ./gradlew clean build -s

after_success:
  - .buildscript/deploySnapshot.sh

branches:
  except:
    - gh-pages

sudo: true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

env:
  global:
    - secure: "wCUn5Wr/GIEu9CVuTKGPT1nlGp+KD60D3vwu0SIQDj6nDcsf/P0Bq7jOV6pd4HrCiWVhRJoIk8oYIeVZAfwLC2O8lL9SRy5A1vZPJfXKsl0Gxr6ARwTsZDay2dOlUC58Scl2BkS6+D+VVG6vIM8WtFsLps/0QbtBKGyYVqKVLfucPBD86xHXU+BmP8SGLJFVSe/EANWlYgwXs220hPSE1o/WbgnFhK1FnqcIbeGVQIe6jqgSeAznU0eLy+sBOAbuawrLLE93g9QMJzsV3TocEZFQ10emNBBJwol91tw14UWgjTv1kIGUwVJYsfr84Ll8f1myLtxQt/9zv/oHgsh4SDCRWYniJ4BPTf+ZT7jkl45FmSSN5PbKirvTsK2/xwOzUfmAdN7zs6Df/YNhUfkBcRiSarmpRPuXcL2/gkoI1c0E+slp1h4z9MBPB0y7aGSWHsir8ecOXbf63y6WCQ3Vdvp7o6PULJ16qGuAQXppKQIIURAMY6M5LTJ3Mwd1DTGoUK2QXW78YrkFSeCZB0EtsGXsS+F5Vu/SLgJ05ULNonV9xk3uBTxNzQ//2FPO5v3rsueQ2tqxSJREmJodkGq1cZyPX9LG0VRGxk8+S04K3VqJKUSgqB4mH1HhofjEUo61tGidSOFsrf2Aj3dokTQ9BwInVAEp2samAkIKRq0/DDM="
    - secure: "vxxvm2ldEsJBZkTdt4NJQUjfMcnIIJTH7Gac6fHQqk7Vo34WigvjhHX6duhKwmZXGxz1VK1kEs9R6Mt3BmD2xnqy2tkNlvdSpj8rkUrYLcJtRSrFeZrAV0m1UhBYolH5oHx/hws7lgTR21SDopeHQ+lhUvOX7sVm+YdxqbXuJ1IfiXOIEFyyuOWGwAsarlFfELpHQ+E3RiM4YvKkXH6RfZTGGBnBCjpKTZ5JFjiKonGT1DryddinziXitM2zj8axr5oNlNMnCW6yimfmHOxoZLRxkFXSwQy6h8S9WBRBtK9fjGu4IqFtg/lYa4m70ofriYydMf2wDYWg2NXephbcCk8ezUB6aN1nSwVkECPnFjfnIWKtJ6Jb0eD0hCUrDK+i0AHnFU64+gi2d+0G35+zfES8wGBiGbtEqP5FCx5R/NW/nhyXawdiPyYLenEXBBBdrXnpT3lp62rNzZZ5qq/JkPePle5kdKFTql8gvh1tPxvJMvemVgQ9ErQIwDBpJCdGUNRbR/GRtijPFhJ0kn27e1QAs5R1SmJHabORHbVhSoxVtsVCDcDMckTCxYgGbPDvCVjyGPQruJ4Xibu5/PjpoKQpW3+/qxu/XmcRafpPKlf6WCZvpYpTSDZbHuwZKhyXchTI8BYbfS3B+TSuSYZQMfEBkH/R0SMskQOw3jSq7+s="
    - secure: "Wkae/R1n6I6/2QKR/Qlnto+SZoEmY6/cw8vk4agIzL8iFt/LpDTPn8U/lBhJHpt0k0/ucFXIm91qtaKUR9V47J9cAJVr+3ogYJZVUvjcJaIrpQPufvAFju++O5j2wMf1GtLKjUs+LJsOf+CC+dMCzQu1UGDaZYhAecZ96qcoecILj68Oc6IWZAUoz+JBkMRnYxAbe9Avk9GLQMkkLvKftWWG0WIWQdlwl5vQtmbfIl53At7EN2FroTc4FnzLLtohOm9xG2bWbgdBqyqDFTxcr0loey+MSl4pkVS5pSajVPADAi0kNhxZorTCVVczPfkVCTU2n3cTpWJN20HVgTMGtJUdmme6ES28W+V0ttyqd/w5MVE2r4rfTYlqWWEscjSOkBcShTCt4y2iEO2Q0CWl3/I5mbV93EHjkPTjjdOkEMeBTwO2yhPd2Nky4oc8l9ecidhZwdNzC/LBibLzZD2+WhIvRa+F3t19nCavdwcyErByXlJR73e/K7gkS96sMNMLB+XLPC3+Bvorf0EuwWoYJ5x9AJttq/0EzndkhwRmnJlY62Q7IQFpcfCwam1l6mpwRQf+6WXq0LuRj0+DQykj6YvKDYdM2eqLcPzy9kTnXdBwkHvC0n6btc/XGNmQ93eoBlDikVLMfQI3CWXpPoFt6MJeod7rcgCx5uvEuSu9hNk="
    - secure: "EoO3ddxBcSVSiJd5fu724cG7CYRgY5yNHXlJH6hAYH1AdGt9MLFtWwrDq0rY35MBDsJLNrzk3ohu6+VQFSX8a96pznm1Ce92yHNVcEIZWXUwKrao0TXDWjFAQwh5EgdtR3O6tIntZQ3tl0sMRNAnhBFjZBqj7TIdrfyYCq97rWk0GH8MiNELdyhsp31TjWaSug3noircY4FN7M0oARZthmSgAmh/JUtf0P82l1AF3Fe0y3scrilY/r6rDqFq+gvdDfSioMSZToTJeXRBG+qmoTmkHu4G/COeT2XY8XAvRDN7QACUPlebwOpHrSUqVQ66lGdSirJ54RAO3IejpfhvaB5LoZpPKCfHmE1ypk1wOzPj2YOUWhe7koJOI3B1RAjcI76jYtQelhwBL/9ywqzhhxadYme+GAejKEbP+eUT6POae4RSjX5Wb8a3+QCbTHUHMjIfukbysrvWapJZiQlh6MbsjXMdpU1Tue8ICdFMJiorZ8uy3vViyrHy804yutRk8fy0CZatgQKcNa+pQjaSzCHGA76r/lRCI29SVNTXx3qnkYbbLUnCR0eeaBwwQ3QMag+G1iDGfYSQlE7a/dvznqPxr23j4Fz6fPE3pvAJxjzmI9xrRG1gH8hxLCl7pldGlXIKDqE4pSNAcU3j90DW+POHk4gf8XVkU3eq7yhKwzY="
