name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  jvm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 11

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v3.10.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Run Build
        uses: gradle/gradle-build-action@v2.4.0
        with:
          arguments: clean ktlintCheck build -s

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3.1.2
        if: github.repository == 'jaredsburrows/gradle-license-plugin' && github.ref == 'refs/heads/master'
        with:
          name: gradle-license-plugin-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/libs
            build/outputs
            build/publications
            build/distributions
            build/reports
            build/test-results

  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'jaredsburrows/gradle-license-plugin' && github.ref == 'refs/heads/master'
    needs:
      - jvm

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Configure JDK
        uses: actions/setup-java@v3.10.0
        with:
          distribution: temurin
          java-version: 11
          cache: gradle

      - name: Publish
        uses: gradle/gradle-build-action@v2.4.0
        with:
          arguments: clean publish -s
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
