name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  JAVA_VERSION: 17

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.1.1

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2.0.0

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4.0.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3.0.0
      - run: ./gradlew --version

      - name: Run Ktlint Check On All Sources
        run: ./gradlew ktlintCheck -s

      - name: Run Build and Unit Tests
        run: ./gradlew build -s

      - name: Publish Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2.13.0
        if: always()
        with:
          comment_mode: off
          files: '**/build/test-results/test/TEST-*.xml'

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4.3.1
        if: github.repository == 'jaredsburrows/gradle-license-plugin' && github.ref == 'refs/heads/master'
        with:
          name: gradle-license-plugin-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/libs
            build/outputs
            build/publications
            build/distributions
            build/reports
            build/test-results

  publish:
    name: Publish Snapshot
    runs-on: ubuntu-latest
    if: github.repository == 'jaredsburrows/gradle-license-plugin' && github.ref == 'refs/heads/master'
    needs:
      - build

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4.1.1

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v2.0.0

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4.0.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3.0.0

      - name: Publish
        run: ./gradlew publish -s
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
